# This is Git's per-user configuration file.
[alias]
    ci = commit
    s = status
    st = status -sb
    br = branch
    co = checkout
    ass = add
    rest = reset
    vomit = commit
    vommit = commit
[diff]
    guitool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    guitool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
